#map {
  height: 60vh;
}

.map-body {
  min-height: 100vh;
  background: #151515;
}

.map-container {
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.width {
  padding-top: 2%;
  margin-left: 28%;
  width: 850px;
}
